# Options:

* generate a bag of words for each movie, possibly joining the director name words, and searching for the plot on imdb
* With this, we would create a keyword based system, with word vectors.

In [6]:
import pandas as pd
import os

In [20]:
def process_user(filename):
    df = pd.read_csv(directory+"/"+filename)
    df.head

In [24]:
#We iterate over all files (1 for testing) in the data directory
directory = 'user_data'
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        print("processing data for user " + filename.replace(".csv","") + "...")
        process_user(filename)
        break
        #continue;
    else:
        break
        #continue

processing data for user 1050889...

,id,year,title,Runtime,Rating,Directors,Writers,Production companies,Genres,rated
0,1,2003.0,Dinosaur Planet,50.0,7.7,Pierre de Lespinois,Mike Carrol-Mike Carroll-Georgann Kane,NaN,Documentary-Animation-Family,NaN
1,2,2004.0,Isle of Man TT 2004 Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1997.0,Character,122.0,7.8,Mike van Diem,Ferdinand Bordewijk-Laurens Geels-Mike van Diem,First Floor Features-Almerica Film,Crime-Drama-Mystery,NaN
3,4,1994.0,Paula Abdul's Get Up & Dance,54.0,8.8,Steve Purcell,NaN,NaN,Family,NaN
4,5,2004.0,The Rise and Fall of ECW,360.0,8.6,Kevin Dunn,Paul Heyman,WWE Home Video,Documentary-Sport,NaN

In [25]:
directory = "user_data"
filename = "1050889.csv"
df = pd.read_csv(directory+"/"+filename)
df.head()

,id,year,title,Runtime,Rating,Directors,Writers,Production companies,Genres,rated
0,1,2003.0,Dinosaur Planet,50.0,7.7,Pierre de Lespinois,Mike Carrol-Mike Carroll-Georgann Kane,NaN,Documentary-Animation-Family,NaN
1,2,2004.0,Isle of Man TT 2004 Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1997.0,Character,122.0,7.8,Mike van Diem,Ferdinand Bordewijk-Laurens Geels-Mike van Diem,First Floor Features-Almerica Film,Crime-Drama-Mystery,NaN
3,4,1994.0,Paula Abdul's Get Up & Dance,54.0,8.8,Steve Purcell,NaN,NaN,Family,NaN
4,5,2004.0,The Rise and Fall of ECW,360.0,8.6,Kevin Dunn,Paul Heyman,WWE Home Video,Documentary-Sport,NaN