In [1]:
import imdb
import pandas as pd
import numpy as np
ia = imdb.IMDb()

In [2]:
m_cols = ['id', 'year', 'title']
movies = pd.read_csv("data/movie_titles.csv",sep=',', names=m_cols, encoding='latin-1').set_index('id')
movies.head()

      year                         title
id
1   2003.0               Dinosaur Planet
2   2004.0    Isle of Man TT 2004 Review
3   1997.0                     Character
4   1994.0  Paula Abdul's Get Up & Dance
5   2004.0      The Rise and Fall of ECW

In [3]:
for i, row in movies.iterrows():
    try:
        #try:
        pelicula = None
        list_results_by_title = ia.search_movie(row['title'])
        for m in list_results_by_title:
            if(('year' in m.keys()) and row['year'] == m['year']):
                pelicula = ia.get_movie(m.movieID);
                break;
        if (pelicula == None):
            movies.loc[i, 'Runtime'] = np.NaN
            movies.loc[i, 'Rating'] = np.NaN
            movies.loc[i, 'Directors'] = np.NaN
            movies.loc[i, 'Writers'] = np.NaN
            movies.loc[i, 'Production companies'] = np.NaN
            movies.loc[i, 'Genres'] = np.NaN
            movies.loc[i, 'Plot'] = np.NaN
        else:
            keys = pelicula.keys()
            if ((('runtime' in keys) or ('runtimes' in keys)) and pelicula['runtime'] and len(pelicula['runtime']) > 0):
                movies.loc[i, 'Runtime'] = pelicula['runtime'][0]
            else:
                movies.loc[i, 'Runtime'] = np.NaN

            if (('rating' in keys) and pelicula['rating']):
                movies.loc[i, 'Rating'] = pelicula['rating']
            else:
                movies.loc[i, 'Rating'] = np.NaN

            if ((('director' in keys) or ('directors' in keys)) and pelicula['director'] and len(pelicula['director']) > 0):
                directores = []
                for d in pelicula['director']:
                    directores.append(d['name'])
                    #np.append(directores, d['name'])
                movies.loc[i, 'Directors'] = '-'.join(directores)
            else:
                movies.loc[i, 'Directors'] = np.NaN

            if ((('writer' in keys) or ('writers' in keys)) and pelicula['writer'] and len(pelicula['writer']) > 0):
                escritores = []
                for d in pelicula['writer']:
                    escritores.append(d['name'])
                    #np.append(escritores,d['name'])
                movies.loc[i, 'Writers'] = '-'.join(escritores)
            else:
                movies.loc[i, 'Writers'] = np.NaN

            if ((('production companies' in keys) or ('production company' in keys)) and pelicula['production companies'] and len(pelicula['production companies']) > 0):
                productoras = []
                for d in pelicula['production companies']:
                    productoras.append(d['name'])
                    #np.append(productoras, d['name'])
                movies.loc[i, 'Production companies'] = '-'.join(productoras)
            else:
                movies.loc[i, 'Production companies'] = np.NaN

            if ((('genres' in keys) or ('genre' in keys)) and pelicula['genres'] and len(pelicula['genres']) > 0):
                generos = []
                for d in pelicula['genres']:
                    generos.append(d)
                    #np.append(generos,d)
                movies.loc[i, 'Genres'] = '-'.join(generos)
            else:
                movies.loc[i, 'Genres'] = np.NaN
            
            if (('plot outline' in keys) and pelicula['plot outline']):
                movies.loc[i, 'Plot'] = pelicula['plot outline']
            else:
                movies.loc[i, 'Plot'] = np.NaN
                
    except:
        movies.loc[i, 'Runtime'] = np.NaN
        movies.loc[i, 'Rating'] = np.NaN
        movies.loc[i, 'Directors'] = np.NaN
        movies.loc[i, 'Writers'] = np.NaN
        movies.loc[i, 'Production companies'] = np.NaN
        movies.loc[i, 'Genres'] = np.NaN
        movies.loc[i, 'Plot'] = np.NaN
        
movies.to_csv('cooked_movie_data.csv')

2019-05-06 22:48:44,102 CRITICAL [imdbpy] C:\ProgramData\Anaconda3\lib\site-packages\imdb\_exceptions.py:34: IMDbParserError exception raised; args: ('invalid title: " aka Wyatt Cenac (2017) (TV Mini-Series) "',); kwds: {}
NoneType: None